body {
  margin: 0;
  background-color: transparent;
}
body.responsive {
  overflow: auto;
}
@media screen and (max-width: 768px) {
  body.responsive form.mj-form {
    overflow: auto;
  }
}
body form.mj-form {
  margin: 0;
  /*overflow: auto;*/
}
body form.mj-form a:link {
  color: #ffffff;
}
body form.mj-form a:visited {
  color: #ffffff;
}
body form.mj-form a:hover {
  color: #ffffff;
}
body form.mj-form input[type="submit"] {
  display: none;
}
body form.mj-form .mj-embedded .w-preview-field-table .w-preview-fields-content-row {
  display: flex !important;
}
body form.mj-form .mj-embedded .w-preview-field-table .w-preview-fields-content-row .w-preview-fields-content-cell {
  flex-grow: 1 !important;
}
body form.mj-form .mj-embedded.mj-horizontal .w-preview-field-table .w-preview-fields-content-row {
  padding: 0px 10px 10px 0px !important;
  flex-grow: 1 !important;
}
body form.mj-form .mj-embedded.mj-horizontal .w-preview-field-table .mj-form-button {
  flex-grow: 1 !important;
}
@media screen and (max-width: 768px) {
  body form.mj-form .mj-embedded {
    width: 100% !important;
    box-shadow: none !important;
  }
  body form.mj-form .mj-embedded.mj-vertical {
    padding: 30px !important;
  }
  body form.mj-form .mj-embedded .w-preview-fields-content-row {
    flex-direction: column !important;
    width: 100% !important;
  }
  body form.mj-form .mj-embedded .w-preview-fields-content-row .w-preview-fields-content-cell {
    padding: 0px 0px 10px 0px !important;
  }
  body form.mj-form .mj-embedded .w-preview-fields-content-row .w-preview-fields-content-cell input {
    margin-right: 0px !important;
  }
  body form.mj-form .mj-embedded .mj-form-button {
    width: 100% !important;
  }
}
@media (min-width: 769px) {
  body form.mj-form .mj-embedded.mj-embed-shadow {
    padding: 20px !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
  body form.mj-form .mj-embed-shadow .mj-embedded-content {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35) !important;
  }
  body form.mj-form .mj-embedded:not(.mj-embed-shadow) {
    box-shadow: none !important;
  }
}
@media (min-width: 769px) and (max-width: 1199px) {
  body form.mj-form {
    overflow: auto;
  }
  body form.mj-form .mj-embedded.mj-vertical {
    width: 100% !important;
    padding-bottom: 15px !important;
  }
}
body #w-after-mail {
  font-family: ubuntu;
  font-style: italic;
  font-size: 10px;
}
body #error-block {
  display: table;
  font-family: ubuntu;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  background-color: white;
}
body #error-block #message-block {
  display: table-cell;
  vertical-align: middle;
}
body #error-block #message-block .success {
  color: #595b61;
  font-size: 20px;
}
body #error-block #message-block .error {
  color: #e84c3f;
  font-size: 20px;
}
body #error-block #message-block .back a {
  color: #595b61;
}

.mj-mailcheck {
  display: none;
  background: rgba(61, 64, 71, 0.8) none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  font: 11px/1.5 "Ubuntu";
  padding: 5px 8px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: pre;
  word-wrap: break-word;
  z-index: 1000000;
}
.mj-mailcheck::after {
  margin-top: 5px;
  right: 50%;
  top: 100%;
  transform: translateX(50%);
}
.mj-mailcheck::before {
  border-bottom-color: rgba(61, 64, 71, 0.8);
  bottom: -5px;
  margin-right: -5px;
  right: 50%;
  top: auto;
}
.mj-mailcheck .mj-close-suggestion {
  cursor: pointer;
  font-weight: bold;
  padding: 0 0 0 10px;
}
